*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins',sans-serif;
}

.hero{     
      width: 100%;
      min-height: 100vh;
      color: #fff;
      position: relative;
      background: linear-gradient(45deg, #0a2528,#36a7c4);

      /* ADD THESE */
      display: flex;
      align-items: center;
      justify-content: center;
}

.container{
      width: 800px;
      height: 180px;
      position: relative;
      background: rgb(148, 196, 205);
}

.container::after{
      content: "";
    width: 180px;
    height: 180px;  
    background: #419aff;
    position: absolute;
    border-radius: 50%;
    right:-30px ;
    bottom: -50px;
    z-index: -1; 
}
.container::before{
    content: "";
    width: 180px;
    height: 180px;  
    background: #f41b75;
    position: absolute;
    border-radius: 5px;
    left:-50px ;
    top: -50px;
    z-index: -1;   
}
.container{
      width: 800px;
      height: 180px;
      position: relative;
      top: 50%;
      left: 25%;
      transform: translate(-50%,-50%);
      background: rgb(148, 196, 205);
}
.clock{
      width: 100%;
      height: 100%;
      background: rgba(0, 187, 255, 0.11);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      backdrop-filter: blur(40px);
}
.clock span{
      font-size: 80px;
      width: 110px;
      display: inline-block;
      text-align: center;
      position: relative;
      color: #083940;
}
.clock span::after{
      
      position: absolute;
      font-size: 16px;
      bottom: -5px;
      left: 50%;
      transform: translateX(-50%);
}
#min::after{
     content: "MIN";
}
#hrs::after{
     content: "HOURS";
}
#sec::after{
     content: "SEC";
}